domain ip table filter {
    chain INPUT {
        jump DUMMY-ISOLATION;
    }

    chain DUMMY-ISOLATION {
        interface $DEFAULT_V4_DEV daddr $DUMMY{{ item }}_V4_CIDR DROP;

        RETURN;
    }
}

domain ip6 table filter {
    chain INPUT {
        jump DUMMY-ISOLATION;
    }

    chain DUMMY-ISOLATION {
        interface $DEFAULT_V6_DEV daddr $DUMMY{{ item }}_V6_CIDR DROP;

        RETURN;
    }
}

